.hero__section {
  position: relative;
  width: 100vw;
  background-color: #141414;
  overflow: hidden;
}

.hero__image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.responsive.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.25s;
}

.responsive.hero__image-mobile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.25s;
}

.hero__image-mobile {
  display: none;
  transition: 0.25s;
}

.hero__heading-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Euclid-regular";
  font-weight: 400;
  font-size: 18px;
  color: #212529;
  padding: 20px;
}

.hero__heading-container h2 {
  font-size: 65px;
  font-family: "Euclid-bold";
  transition: 0.25s;
}

.hero__subHeading {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.hero__subHeading span {
  font-size: 20px;
}

.hero__shopNow-btn {
  margin-top: 30px;
  border: none;
  padding: 15px 75px;
  font-family: "Euclid-bold";
  color: #ffffff;
  background-color: #141414;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.1s;
}

.hero__shopNow-btn:hover {
  background-color: #4f4f4f;
}

@media (max-width: 1664px) {
  .hero__heading-container h2 {
    font-size: 55px;
  }
}

@media (max-width: 1486px) {
  .hero__heading-container h2 {
    font-size: 45px;
  }
  .hero__subHeading span {
    font-size: 16px;
  }
}

@media (max-width: 1282px) {
  .hero__heading-container h2 {
    font-size: 35px;
  }
}

@media (max-width: 1098px) {
  .hero__heading-container h2 {
    font-size: 30px;
  }
  .hero__subHeading span {
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .hero__image {
    display: none;
  }
  .hero__image-mobile {
    display: block;
  }

  .hero__heading-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    left: 0px;
  }

  .hero__shopNow-btn {
    margin-bottom: 40px;
  }

  .hero__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

@media (max-width: 700px) {
  .hero__heading-container h2 {
    font-size: 25px;
  }
  .hero__subHeading span {
    font-size: 13px;
    text-align: center;
  }
}

@media (max-width: 653px) {
  .hero__heading-container h2 {
    font-size: 25px;
  }
  .hero__subHeading span {
    font-size: 15px;
    text-align: center;
  }
  .hero__subHeading {
    margin-top: 5px;
  }
}

@media (max-width: 653px) {
  .hero__heading-container h2 {
    font-size: 25px;
  }
  .hero__subHeading span {
    font-size: 15px;
    text-align: center;
  }

  .hero__shopNow-btn {
    margin-top: 20px;
    padding: 10px 65px;
  }
}
