.posterSection__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.posterSection__section h2 {
  font-family: "Euclid-bold";
  font-size: 40.512px;
  color: #212529;
  margin-bottom: 40px;
  text-align: center;
}

.posterSection__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 4px solid #141414;
  border-radius: 8px;
  margin: 20px;
  width: 307px;
  height: 458px;
  transition: 0.15s;
}

.posterSection__card:hover {
  background-color: #4f4f4f;
}

.posterSection__card:hover h3 {
  color: #ffffff;
}

.posterSection__card:hover p {
  color: #ffffff;
}

.posterSection__card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  height: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: 0.1s;
}

.posterSection__card-info:hover {
  cursor: pointer;
}

.posterSection__card-info h3 {
  font-family: "Euclid-bold";
  font-size: 22px;
  color: #212529;
}

.posterSection__card-info p {
  font-family: "Euclid-regular";
  font-size: 18px;
  color: #212529;
}

.posterSection__card-info:hover h3,
.posterSection__card-info:hover p {
  color: #ffffff;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.8s;
}
