.videoSection__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: #f9f1da;
}

.videoSection__video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoSection__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f1da;
  width: 100%;
  max-width: 100%;
  height: 350px;
}

.videoSection__heading h2 {
  font-family: "Euclid-bold";
  font-size: 65.512px;
  color: #212529;
}

.videoSection__heading p {
  font-family: "Euclid-regular";
  font-size: 16px;
  color: #212529;
  padding-top: 10px;
}

.videoSection__heading-sub {
  display: flex;
  flex-direction: column;
  width: 460px;
  height: 350px;
}

.learnMore-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 210px;
  height: 50px;
  border-radius: 8px;
  background-color: #141414;
  font-family: "Euclid-bold";
  font-size: 16px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}

.learnMore-btn:hover {
  background-color: #4f4f4f;
  color: #ffffff;
}

@media (max-width: 1460px) {
  .videoSection__section {
    flex-direction: column;
  }
  .videoSection__heading-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .videoSection__heading-sub button {
    text-align: center;
  }

  .videoSection__heading {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .videoSection__video {
    width: 420px;
    height: 375px;
  }
}

@media (max-width: 800px) {
  .videoSection__video {
    width: 260px;
    height: 350.5px;
  }

  .videoSection__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 650px) {
  .videoSection__heading-sub h2 {
    font-size: 60px;
  }

  .videoSection__heading-sub p {
    padding-top: 20px;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
